<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hhly.jpa.springdatajpa.mapper.OrderMapper" >

  <select id="findAll" resultType="com.hhly.jpa.springdatajpa.domain.Order">
		select 
		    t.id,
	        t.order_code,
	        t.product_code,
	        t.price,
	        t.num,
	        t.status,
	        t.user_id
	     from t_order t
		<where>
		  <if test="id != null">
			  and t.id = #{id}
		  </if>
	    <if test="orderCode != null and orderCode  != ''">
			and t.order_code = #{orderCode}
	 	</if>
	 	<if test="productCode != null and productCode  != ''">
			and t.product_code =  #{productCode}
	 	</if>
	    <if test="userId != null">
			AND t.user_id =#{userId}
		</if>
	  <if test="status != null">
		  AND t.status =#{status}
	  </if>
		</where>
  </select>

</mapper>